@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'poppins';
  src: url('./fonts/poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'magneto';
  src: url('./fonts/MAGNETOB.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}
